body {
	background-color: black;
	font-family: "Verdana";
	background-image: url("https://ak6.picdn.net/shutterstock/videos/1819046/thumb/1.jpg");
    color: white;
	margin:0px;
}
header {
	grid-area: header;
	background-color: black;
}
h1 {
    text-align: center;
}
header nav {
	display: grid;
	grid-area: nav;
	grid-row-start: nav;
	grid-row-end: nav;
}
header nav ul {
	padding: 0px;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
}
nav li{
	display: grid;
}
nav li a:hover:not(.active) {
	background-color: white;
	border: 1px solid white;
	border-radius: 25px;
    color: black;
}
.active {
	background-color: white;
	color: black;
	border: 1px solid white;
	border-radius: 25px;
}
nav a {
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	padding: 5px;
}

/*#home - index.html*/
#home .wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"header header header"
	"nav nav nav"
	". . ."
	"main main aside";
	grid-gap: 15px 3rem;
	grid-template-rows: auto auto 50px auto;
}
#home main {
	grid-area: main;
	grid-template-columns: 1fr 1fr;
	display: grid;
	grid-gap: 30px;
}
#home aside {
	grid-area: aside;
}

/*#rockets - rockets.html*/
#rockets .wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"header header header"
	"nav2 nav2 nav2"
	". . ."
	"main main aside";
	grid-gap: 15px 3rem;
	grid-template-rows: auto auto 50px 50px;
}
#rockets .localNav {
	display: grid;
	grid-area: nav2;
	grid-row-start: nav2;
	grid-row-end: nav2;
}
#rockets .localNav ul {
	padding: 0px;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
}
#rockets main {
	grid-area: main;
	grid-template-columns: 1fr 1fr;
	display: grid;
	grid-gap: 30px;
}
#rockets aside {
	grid-area: aside;
}
#rockets header {
	grid-area: header;
}

/*#galaxies - galaxies.html*/
#galaxies .wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"header header header"
	"nav nav nav"
	". . ."
	"main main aside";
	"left middle right"; /* Fixa detta till nästa gång */
	grid-gap: 15px 3rem;
	grid-template-rows: auto auto 50px auto;
}
#galaxies .lowernav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-area: nav;
	grid-row-start: nav;
	grid-row-end: nav;
}
#galaxies main {
	grid-area: main;
	grid-template-columns: 1fr 1fr;
	display: grid;
	grid-gap: 30px;
	margin-left: 30px;
}
#galaxies aside {
	grid-area: aside;
	margin-right: 30px;
	padding: 10px;
}
#galaxies img {
  width: 100%;
  height: auto;
  border: 2px solid white;
}
#galaxies p {
  color: white;
  text-align: center;
  font-family: Courier;
}
#galaxies h2 {
  color: white;
  text-align: center;
  font-family: Courier;
}
#galaxies .vintergatan{
	background-color: rgba(100,100,100,0.5);
	padding: 20px;
	border: 2px solid white;
    border-radius: 25px;
}

/*#blackhole - blackhole.html*/
#blackhole .wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"header header header"
	"nav nav nav"
	". . ."
	"main main aside";
	grid-gap: 15px 3rem;
	grid-template-rows: auto auto 50px auto;
}
#blackhole h2 {
	text-align: center;
	font-size: 33px;
}
.svartHål{
	text-align: left;
}

.faktaSvartaHål{
	border-style: solid;
	border-width:5px;
	border-color: white;
}


.border{
	border-style: solid;
	border-width:5px;
	border-color: white;
}

.foto{
margin:0 auto;
width: 100%;
border-style: solid;
border-width:5px;
border-color: white;
}

#blackhole main {
	grid-area: main;
	grid-template-columns: 1fr 1fr;
	display: grid;
	grid-gap: 30px;
	margin-left: 30px;
}
#blackhole aside {
	grid-area: aside;
	margin-right: 30px;
}

p{
	padding:10px;
}


