body { /*Typselektor för body*/
	background-color: black; /*Bakgrundsfärg på sidan*/
	font-family: "Verdana"; /*Font för hela hemsidan*/
	background-image: url("https://ak6.picdn.net/shutterstock/videos/1819046/thumb/1.jpg"); /*Bakgrundsbild för hela sidan*/
    color: white; /*Textfärg*/
	margin:0px; /*Tar bort margins*/
}
header { /*Typselektor för header*/
	grid-area: header; /*Namn på grid-arean för headern*/
	background-color: black;
}
h1 { /*Typselektor för h1*/
    text-align: center; /*Gör så att texten är i mitten av sektionen*/
}
header nav { /*Typselektor för nav i header*/
	display: grid; /*Gör ett grid i headern*/
	grid-area: nav;
}
header nav ul, .lowernav ul { /*Typselektor för ul i nav i header och ul i lowernav-baren*/
	padding: 0px; /*Tar bort padding*/
	list-style-type: none; /*Tar bort teknet före list item i listan*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; /*Delar upp girdet i 4 lika stora kolumner*/
	grid-gap: 30px; /*Gör ett avstånd mellan griden med 30px på radien*/
}
nav li{ /*Typselektor för li i nav*/
	display: grid;
}
nav li a:hover:not(.active) { /*Typselektor för a inuti li inuti nav som inte har active klassselektorn, gör att sidan man håller musen över blir fyld vit med svart text om du inte redan är på den sidan*/
	background-color: white;
	border: 1px solid white; /*1px bred vit border som är hel*/
	border-radius: 25px; /*Rundar bordern med 25px*/
    color: black;
}
.active { /*Klassselktor active , gör att den nuvarande sidan i navbaren blir fylld vit*/
	background-color: white;
	color: black;
	border: 1px solid white;
	border-radius: 25px;
}
nav a { /*Typselektor för a innuti nav*/
	text-align: center;
	font-weight: bold; /*Gör texten till bold*/
	text-decoration: none; /*Tar bort understruket under länken*/
	color: white;
	font-size: 1.5rem; /*Sätter fontstorleken till 1.5rem*/
	padding: 5px;
}
.wrapper { /*Klasselektor för wrapper som gör grid*/
	display: grid; /*Visar ett grid*/
	grid-template-columns: 1fr 1fr 1fr; /*Delar upp den i tre lika stora kolumner*/
	grid-template-areas: /*Bestämmer var de olika elementen ska visas i gridet*/
	"header header header" /*header tar alla 3 columner*/
	"nav2 nav2 nav2" /*Nav2 (lower nav tar alla 3 columner*/
	". . ." /*Tom rad i griddet*/
	"main main aside"; /*Main tar de två vänstra grid areas och aside tar den högra*/
	grid-gap: 15px 3rem; /*Avstånd mellan griden 15px på höjden och 3 rem på bredden*/
	grid-template-rows: auto auto 50px auto; /*Ställer in storlekten på raderna göra alla auto utom den tredje som blir 50px*/
}
.lowernav ul{ /*Klasselektor för ul för undermeny*/
	grid-template-columns: 1fr 1fr 1fr; /*3 columner i lowernavbaren*/
}
.lowernav { /*Klasselektor flr lowernav*/
	display: grid; /*Gör ett grid*/
	grid-area: nav2; /*Ger gridet namnet nav2*/
}

/*#home - index.html*/
	#home .wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
		"header header header"
		". . aside"
		". main aside"
		"infoText infoText aside"
		"galaxImage galaxImage aside";
		grid-gap: 15px 3rem;
		grid-template-rows: auto 60vh 60vh auto; /*Sötter storleken på raderna i grid*/
		grid-template-columns: 30vw 60vh auto; /*Sätter storlek på columnerna i griddet*/
	}
	#home main {
		grid-area: main;
	}
	#home aside {
		grid-area: aside;
		display: grid;
		grid-gap: 30px;
	}

	/*Planet buttons*/
	#home .planetButton { /*Klasselektor för att klicka på planeten och få upp fakta modal*/
		height: 20vh;
		width: 20vh;
		grid-area: image;
	}
	
	#home aside a {
		display: grid;
		grid-gap: 3rem;
		grid-template-areas: "image h2";
		text-decoration: none;
		color: white;
	}
	
	#home h2 {
		grid-area: h2;
		padding: 1.5rem;
		font-size: 2.5vw;
	}
	
	#home .overlay { /*Bakgrunds overlay när modal är öppen*/
		position: fixed; /*Sätter exakt position*/
		top: 0; /*Gör den 0 ifrån toppen*/
		bottom: 0; /*Gör den 0 ifrån botten räknar så ut sin storlek*/
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.6); /*Gör svar bakgrund med 40% genomskilninghet*/
		transition: opacity 0.5s; /*Ändrar opaciteten över en halv sekund*/
		visibility: hidden; /*Modalen syns inte*/
	}
	
	#home .overlay:target { /*Visar modalen när man han klickat så man har rätt id*/
		visibility: visible; /*Visar modalen*/
	}

	#home .popup { /*Hur modalen ser ut*/
		margin: 10vh auto;
		padding: 2rem;
		background: white;
		border-radius: 0.5rem;
		width: 50%;
		position: relative; /*Gör allt i popupen relativt till popupen*/
		color: black;
	}
	
	#home h4 {
		margin-top: 0;
		font-size: 3rem;
	}
	
	#home .close { /*Stäng knapp på modal på första sidan som har id #home*/
		position: absolute;
		top: 1rem;
		right: 1.5rem;
		font-size: 2rem;
		font-weight: bold;
		text-decoration: none; /*Tar bort understruket från länken*/
		color: black;
	}
	
	#home .galaxImage { /*Klasselektor hur bilden på vintergatan ser ut*/
		grid-area: galaxImage;
		border: 2px solid white;
		border-radius: 25px;
		margin: 1%;
		width: 97.5%; /*Gör bildens brädd till 97.5%*/
		height: auto; /*Sätter automatisk höjd jämfört med bredden*/
	}
	
	/*Planet facts text*/
	#home .infoText { /*Klasselektor för info text om hur planeterna är skalade*/
		grid-area: infoText;
		background-color: rgba(100,100,100,0.25);
		padding: 20px; 
		border: 2px solid white;
		border-radius: 25px;
		margin: 1%;
		text-align: center;
	}
	
	/*Solar system planets*/
	#home .absolute { /*Gör alla planete absolute så man kan ge den exakt den positionen man vill ha*/
		position: absolute;
	}

	#home .sun { /*Position och storlek för solen*/
		height: 20vh;
		width: 20vh;
		margin-top: -10vh; 
		margin-left: -10vh;
	}
	  
	#home .mercury { /*Position och storlek för merkurius*/
		left: 50%; /*Flyttar den 50% från mitten så att den inte är fel på omloppsbanan*/
		height: 1.47vh;
		width: 1.47vh;
		margin-top: -0.74vh;
		margin-left: -0.74vh;
	}

	#home .mercuryOrbit { /*Omloppsbana för merkurius*/
		width: 25.7vh; /*Bredd på merkurius omloppsbana sektion*/
		height: 25.7vh; /*Höjd på merkurius omloppsbana sektion*/
		margin-top: -12.85vh; /*marginal på merkurius omloppsbana sektion för att få den centrerad runt solen*/
		margin-left: -12.85vh;
		border: 2px solid white; /*Omloppsbana border, 2px bred vit och hel*/
		border-radius: 50%; /*Gör borderns hörn runda, 50% gör den till en cirkel*/

		/*Beskriver hur sektionen ska rotera åt höger för evigt en gång var 4.4 sekunder*/
		-webkit-animation: spin-right 4.4s linear infinite; /*För iOS - Får varning i validator men det är inget problem*/
		-moz-animation: spin-right 4.4s linear infinite; /*För Firefox - Får varning i validator men det är inget problem*/
		animation: spin-right 4.4s linear infinite; /*För Chrome, Edge mm.*/
	  }

	#home .venus {
		left: 50%;
		height: 3.6vh;
		width: 3.6vh;
		margin-top: -1.8vh;
		margin-left: -1.8vh;
	}

	#home .venusOrbit {
		width: 30.8vh;
		height: 30.8vh;
		margin-left: -15.4vh;
		margin-top: -15.4vh;
		border-radius: 50%;
		border: 2px solid white;
		
		-webkit-animation: spin-right 11.3s linear infinite;
		-moz-animation: spin-right 11.3s linear infinite;
		animation: spin-right 11.3s linear infinite;
	}
	#home .earth {
		left: 50%;
		
		height: 3.9vh;
		width: 3.9vh;
		margin-top: -1.95vh;
		margin-left: -1.95vh;
	}

	#home .earthOrbit {
		width: 35vh;
		height: 35vh;
		margin-left: -17.5vh;
		margin-top: -17.5vh;
		border: 2px solid white;
		border-radius: 50%;
	   
		-webkit-animation: spin-right 18.3s linear infinite;
		-moz-animation: spin-right 18.3s linear infinite;
		animation: spin-right 18.3s linear infinite;
	}

	#home .moon {
		height: 1.05vh;
		width: 1.05vh;
		margin-top: -0.53vh;
		margin-left: -0.53vh;
	}

	#home .moonOrbit {
		left: 50%;
		width: 4vh;
		height: 4vh;
		margin-top: -2vh;
		margin-left: -2vh;

		-webkit-animation: spin-right 0.24s linear infinite;
		-moz-animation: spin-right 0.24s linear infinite;
		animation: spin-right 0.24s linear infinite;
	  }
	  
	#home .mars {
		left: 50%;
		height: 2.04vh;
		width: 2.04vh;
		margin-top: -1.02vh;
		margin-left: -1.02vh;
	}

	#home .marsOrbit {
		width: 42.8vh;
		height: 42.8vh;
		margin-left: -21.4vh;
		margin-top: -21.4vh;
		border: 2px solid white;
		border-radius: 50%;
	   
		-webkit-animation: spin-right 34.4s linear infinite;
		-moz-animation: spin-right 34.4s linear infinite;
		animation: spin-right 34.4s linear infinite;
	}

	#home .jupiter {
		left: 50%;
		height: 7vh;
		width: 7vh;
		margin-top: -3.5vh;
		margin-left: -3.5vh;
	}

	#home .jupiterOrbit {
		width: 68.95vh;
		height: 68.95vh;
		margin-left: -34.48vh;
		margin-top: -34.48vh;
		border: 2px solid white;
		border-radius: 50%;
	   
		-webkit-animation: spin-right 217.2s linear infinite;
		-moz-animation: spin-right 217.2s linear infinite;
		animation: spin-right 217.2s linear infinite;
	}

	#home .saturn {
		left: 50%;
		height: 12.5vh;
		width: 12.5vh;
		margin-top: -6.25vh;
		margin-left: -6.25vh;
	}

	#home .saturnOrbit {
		width: 81.5vh;
		height: 81.5vh;
		margin-left: -40.75vh;
		margin-top: -40.75vh;
		border: 2px solid white;
		border-radius: 50%;
	   
		-webkit-animation: spin-right 483.7s linear infinite;
		-moz-animation: spin-right 483.7s linear infinite;
		animation: spin-right 483.7s linear infinite;
	}

	#home .uranus {
		left: 50%;
		height: 2.5vh;
		width: 2.5vh;
		margin-top: -1.23vh;
		margin-left: -1.23vh;
	}

	#home .uranusOrbit {
		width: 102.67vh;
		height: 102.67vh;
		margin-left: -51.33vh;
		margin-top: -51.33vh;
		border: 2px solid white;
		border-radius: 50%;
	   
		-webkit-animation: spin-right 1533s linear infinite;
		-moz-animation: spin-right 1533s linear infinite;
		animation: spin-right 1533s linear infinite;
	}

	#home .neptune {
		left: 50%;
		height: 2.5vh;
		width: 2.5vh;
		margin-top: -1.23vh;
		margin-left: -1.23vh;
	}

	#home .neptuneOrbit {
		width: 117.5vh;
		height: 117.5vh;
		margin-left: -58.75vh;
		margin-top: -58.75vh;
		border: 2px solid white;
		border-radius: 50%;
	   
		-webkit-animation: spin-right 3012.8s linear infinite;
		-moz-animation: spin-right 3012.8s linear infinite;
		animation: spin-right 3012.8s linear infinite;
	}

	/*Roterings animation, gör att allt roterar*/
	@-webkit-keyframes spin-right { /*För iOS - Får varning i validator men det är inget problem*/
	  100% {
		  -webkit-transform: rotate(360deg);
	  }
	}
	@-moz-keyframes spin-right { /*För Firefox - Får varning i validator men det är inget problem*/
		100% {
			-webkit-transform: rotate(360deg);
		}
	}
	@keyframes spin-right { /*För Chrome, Edge mm.*/
		100% {
			transform: rotate(360deg);
		}
	}

/*#rockets - rockets.html*/
	#rockets main {
		grid-area: main;
	}
	#rockets aside {
		grid-area: aside;
		grid-template-columns: 25% auto;
		display: grid;
		grid-gap: 30px;
	}
	#rockets .rocketImage { /*Bilder på raketer på nasa och spacex sidorna*/
		height: auto;
		width: 300px;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		border: 2px solid white;
		border-radius: 25px;
		margin: 10px;
	}

	#rockets .logoImage { /*Storlek på loggorna för Nasa och SpaceX*/
		height: auto;
		width: 500px;
	}

	#rockets .wrapper { /*Egen grid wrapper för rocket sidorna*/
	grid-template-areas:
	"header header header"
	"nav2 nav2 nav2"
	". . ."
	"main aside aside";
	}
	
	#rockets table, td { /*Gruppselektor och typselektor för table och td, inte th*/
	border: 3px solid white; /*Gör en ram runt cellerna som är hel, 3 pixlar bred och svart*/
	border-collapse: collapse; /*Lägger ihop linjerna till en itället för två mellan cellerna*/
	}
	
	#rockets table {
		background-color: rgba(100,100,100,0.25); /*Bakgrundsfärg för tabellen*/
	}
	
	#rockets caption { /*Typselektor för titeln till tabellen, centrerar texten och gör textstorleken till 30 pixlar*/
	text-align: center; /*Sätter texten i mitten*/
	font-size: 30px; /*Textstorlek 30px*/
	}
	
	#rockets .factBox {
		background-color: rgba(100,100,100,0.25); /*Gör bakgrundsfärg svart med 75% genomskilninghet*/
		padding: 15px; 
		margin-left: 20px;
		border: 2px solid white;
		border-radius: 25px;
	}
	
	#rockets .rocketLaunchImage { /*Klasselektor för bild på första sidan - rocket.html*/
		border: 2px solid white;
		border-radius: 25px;
		width: 96vw;
		margin: 1vw;
	}

/*#galaxies - galaxies.html*/
#galaxies main { /*Sekektor för grid kolumnen main*/
	grid-area: main; /*Namnger griden till main*/
	grid-template-columns: 1fr 1fr; /*Delar upp kolumnen i två delar*/
	display: grid; /*Det gör så att elemetet blir en grid*/
	grid-gap: 30px; /*Avståndet mellan alla kolumner i griden*/
	margin-left: 100px; /*Flyttar griden till vänster 100 pixlar*/ 
}
#galaxies aside { /*Sekektor för grid kolumnen aside*/
	grid-area: aside;  /*Namnger griden till aside*/
	margin-right: 100px; /*Flyttar griden till höger 100 pixlar*/       
	padding: 10px; /*Gör så att det blir mer plats runt texten med 10 pixlar*/
}
#galaxies .img { /*Klassselktor för bilden på första sidan*/
        width: 150%; /*Ändrar storleken på bilden med 150 procent*/
        height: auto; /*Justerar höjden automatiskt*/
        border: 2px solid white; /*Gör en kant runt bilden med vit färg med storleken 2 pixlar*/
        margin-left: 220px; /*Flyttar bilden till vänster 220 pixlar*/
        border-radius: 25px; /*Gör runda kanter runt bilden med storlek på 25 pixlar*/
}
#galaxies h2, #galaxies p { /*Selektor för texten och Rubriken på alla sidor*/
        color: white; /*Gör om texten til färgen vit*/
        text-align: center; /*Gör så att texten centreras*/
        font-family: Courier; /*Ändrar fonten på texten*/
}
#galaxies .vintergatan { /*Klassselktor för sektionen om vintergatan*/
	background-color: rgba(100,100,100,0.5); /*Gör bakgrunden genomskinlig*/
	padding: 15px; /*Gör så att det blir mer plats runt texten med 15 pixlar*/
	margin-left: 20px; /*Flyttar textrutan till vänster 20 pixlar*/
	border: 2px solid white; /*Gör en kant runt textrutan med vit färg med storleken 2 pixlar*/
    border-radius: 25px; /*Gör runda kanter runt textrutan med storlek på 25 pixlar*/
}
#galaxies .fakta { /*Klassselktor för sektionen om fakta*/
	background-color: rgba(100,100,100,0.5); /*Gör bakgrunden genomskinlig*/
	padding: 15px; /*Gör så att det blir mer plats runt texten med 15 pixlar*/
	margin-left: 20px; /*Flyttar textrutan till vänster 20 pixlar*/
	border: 2px solid white; /*Gör en kant runt textrutan med vit färg med storleken 2 pixlar*/
    border-radius: 25px; /*Gör runda kanter runt textrutan med storlek på 25 pixlar*/
}
#galaxies .img2 { /*Klassselktor för bilden på fakta sidan*/
	width: 150%; /*Ändrar storleken på bilden med 150 procent*/
	height: auto; /*Justerar höjden automatiskt*/
	border: 2px solid white; /*Gör en kant runt bilden med vit färg med storleken 2 pixlar*/
	margin-left: 220px;  /*Flyttar bilden till vänster 220 pixlar*/
	border-radius: 25px; /*Gör runda kanter runt bilden med storlek på 25 pixlar*/
}
#galaxies .narmastegalaxer { /*Klassselktor för sektionen om andromedagalaxen*/
	background-color: rgba(100,100,100,0.5); /*Gör bakgrunden genomskinlig*/
	padding: 15px; /*Gör så att det blir mer plats runt texten med 15 pixlar*/
	height: 50%; /*Ändrar på storleken på texrutan med 50 procent på höjden*/
	margin-left: 20px; /*Flyttar textrutan till vänster 20 pixlar*/
	border: 2px solid white; /*Gör en kant runt textrutan med vit färg med storleken 2 pixlar*/
    border-radius: 25px; /*Gör runda kanter runt textrutan med storlek på 25 pixlar*/
}
#galaxies .tabell, #galaxies tr, #galaxies td { /*Klassselktor för tabellen*/
	background-color: rgba(100,100,100,0.4); /*Gör bakgrunden genomskinlig*/
	width: 150%;  /*Ändrar storleken på tabellen med 150 procent*/
	height: auto; /*Justerar höjden automatiskt*/
	border: 2px solid white; /*Gör en kant runt tabellen med vit färg med storleken 2 pixlar*/
	margin-left: 220px; /*Flyttar tabellen till vänster 220 pixlar*/
	border-collapse: collapse; /*Sätter ihop två borders till en border*/
	text-align: center; /*Gör så att texten centreras*/
	font-family: Courier; /*Ändrar fonten på texten*/
}
#galaxies .col1 {; /*Klasselektor för första kolumnen och neråt*/
	width: 25%; /*Ändrar på storleken på kolumnen med 25 procent på bredden*/
	padding: 25px; /*Gör så att det blir mer plats runt kolumnen med 25 pixlar*/
}
#galaxies .col2 { /*Klasselektor för andra kolumnen och neråt*/
	width: 50%; /*Ändrar på storleken på kolumnen med 50 procent på bredden*/
}
#galaxies .col3 { /*Klasselektor för tredje kolumnen och neråt*/
	width: 100%; /*Ändrar på storleken på kolumnen med 100 procent på bredden*/
	height: 125px; /*Ändrar på storleken på kolumnen med 125 pixlar på höjden*/
}
/*#blackhole - blackhole.html*/
#blackhole h2 { /* id selektor under rubrik*/
	text-align: center;/* texten centreras*/
	font-size: 33px;/*stroleken på texten är 33 px*/
}

#blackhole .border{
	border-style: solid; /*En hel border*/
	border-width:5px;/*5 pixlars bredd på min border*/ 
	border-color: white;/* vit färg på min border*/
	border-radius: 25px; /*Rundade kanter på bordern*/
    background-color: rgba(100,100,100,0.5); /*Vit genomskinlig backgrund*/
    font-family: Courier;/* text typ curier*/
    padding:15px;/* text strolek */
    text-align: center;/* centrerad tex*/
    color: white;/* vit text*/
    }

#blackhole .foto{
    margin:0 auto;/*Centrerar  fotot*/
    width: 100%;/*Maxar bilden för utrymmet den har i sectionen*/
    border-style: solid;/*solid border*/
    border-width:5px;/* bredd på border*/
    border-color: white;/*färg på border*/
    border-radius: 25px;/*rundade kanter på bordern*/
    }

#blackhole main {/*id selektor för main delen av htmlsidan*/
	grid-area: main;/*Formar sidan*/
	grid-template-columns: 1fr 1fr;/*ser till att det finns tre sektitoner på sidan*/
	display: grid;/*Skapar min grid*/
	grid-gap: 30px;/*Avståndet från kanterna*/
	margin-left: 30px;/*att sidan förhåller sig åt höger*/
}
#blackhole aside {
	grid-area: aside;/*grid området för min aside text höger om bilden*/
	margin-right: 30px;/*att sidan förhåller sig till vänster*/
}

#blackhole main a:link, main a:visited{/*Färgen på länkarna när man ser den och när den har varit visad*/
    color: blue;
    text-decoration: none;
    
}
#blackhole aside a:link, aside a:visited{
    color: blue;
    text-decoration: none;
    
}
#blackhole main a:hover{/*färgen på länken när man pekar på den*/
    color:violet;
}
#blackhole aside a:hover{
    color:violet;
}
#blackhole main a: focus{/*färgen på länken när man focuserar på den*/
    color:violet;
}
#blackhole aside a: focus{
    color:violet;
}
#blackhole main a:active{/* Färgen länken har när man tryckt på den*/
    color:yellow;
}
    
#blackhole aside a:active{
    color:yellow;
}
