body {
	background-color: black;
	font-family: "Verdana";
	background-image: url("https://ak6.picdn.net/shutterstock/videos/1819046/thumb/1.jpg");
    color: white;
	margin:0px;
}
header {
	grid-area: header;
	background-color: black;
}
h1 {
    text-align: center;
}
header nav {
	display: grid;
	grid-area: nav;
	grid-row-start: nav;
	grid-row-end: nav;
}
header nav ul {
	padding: 0px;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
}
nav li{
	display: grid;
}
nav li a:hover:not(.active) {
	background-color: white;
	border: 1px solid white;
	border-radius: 25px;
    color: black;
}
.active {
	background-color: white;
	color: black;
	border: 1px solid white;
	border-radius: 25px;
}
nav a {
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	padding: 5px;
}
.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"header header header"
	"nav2 nav2 nav2"
	". . ."
	"main main aside";
	grid-gap: 15px 3rem;
	grid-template-rows: auto auto 50px auto;
}
.lowernav ul{
	padding: 0px;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
}
.lowernav {
	display: grid;
	grid-area: nav2;
	grid-row-start: nav2;
	grid-row-end: nav2;
}

/*#home - index.html*/
	#home .wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
		"header header header"
		". . aside"
		". main aside"
		"infoText infoText aside";
		grid-gap: 15px 3rem;
		grid-template-rows: auto 60vh 60vh auto;
		grid-template-columns: 30vw 60vh auto;
	}
	#home main {
		grid-area: main;
	}
	#home aside {
		grid-area: aside;
		display: grid;
		grid-gap: 30px;
	}

	/*Planet buttons*/
	#home .sunButton, .mercuryButton, .venusButton, .earthButton, .marsButton, .jupiterButton, .saturnButton, .uranusButton, .neptuneButton {
		height: 20vh;
		width: 20vh;
		grid-area: image;
	}
	
	#home aside a {
		display: grid;
		grid-gap: 30px;
		grid-template-areas: "image h2";
		text-decoration: none;
		color: white;
	}
	
	#home h2 {
		grid-area: h2;
		padding: 16px 0;
		font-size: 50px;
	}
	
	/*Planet facts text*/
	#home .infoText {
		grid-area: infoText;
		background-color: rgba(100,100,100,0.5);
		padding: 20px; 
		border: 2px solid white;
		border-radius: 25px;
		margin: 10px;
	}
	
	/*Solar system planets*/
	#home .absolute {
		position: absolute;
	}

	#home .sun {
		height: 20vh;
		width: 20vh;
		margin-top: -10vh; 
		margin-left: -10vh;
	}
	  
	#home .mercury {
		left: 50%;
		
		height: 1.47vh;
		width: 1.47vh;
		margin-top: -0.74vh;
		margin-left: -0.74vh;
	}

	#home .mercuryOrbit {
		width: 25.7vh;
		height: 25.7vh;
		margin-top: -12.85vh;
		margin-left: -12.85vh;
		border: 2px solid white;
		border-radius: 50%;

		-webkit-animation: spin-right 4.4s linear infinite;
		-moz-animation: spin-right 4.4s linear infinite;
		animation: spin-right 4.4s linear infinite;
	  }

	#home .venus {
		left: 50%;
		
		height: 3.6vh;
		width: 3.6vh;
		margin-top: -1.8vh;
		margin-left: -1.8vh;
	}

	#home .venusOrbit {
		width: 30.8vh;
		height: 30.8vh;
		margin-left: -15.4vh;
		margin-top: -15.4vh;
		border-radius: 50%;
		border: 2px solid white;
		
		-webkit-animation: spin-right 11.3s linear infinite;
		-moz-animation: spin-right 11.3s linear infinite;
		animation: spin-right 11.3s linear infinite;
	}
	#home .earth {
		left: 50%;
		
		height: 3.9vh;
		width: 3.9vh;
		margin-top: -1.95vh;
		margin-left: -1.95vh;
	}

	#home .earthOrbit {
		width: 35vh;
		height: 35vh;
		margin-left: -17.5vh;
		margin-top: -17.5vh;
		border: 2px solid white;
		border-radius: 50%;
	   
		
		-webkit-animation: spin-right 18.3s linear infinite;
		-moz-animation: spin-right 18.3s linear infinite;
		animation: spin-right 18.3s linear infinite;
	}

	#home .moon {
		height: 1.05vh;
		width: 1.05vh;
		margin-top: -0.53vh;
		margin-left: -0.53vh;
	}

	#home .moonOrbit {
		left: 50%;

		width: 4vh;
		height: 4vh;
		margin-top: -2vh;
		margin-left: -2vh;

		-webkit-animation: spin-right 1.2s linear infinite;
		-moz-animation: spin-right 1.2s linear infinite;
		animation: spin-right 1.2s linear infinite;
	  }
	  
	#home .mars {
		left: 50%;

		height: 2.04vh;
		width: 2.04vh;
		margin-top: -1.02vh;
		margin-left: -1.02vh;
	}

	#home .marsOrbit {
		width: 42.8vh;
		height: 42.8vh;
		margin-left: -21.4vh;
		margin-top: -21.4vh;
		border: 2px solid white;
		border-radius: 50%;
	   
		-webkit-animation: spin-right 34.4s linear infinite;
		-moz-animation: spin-right 34.4s linear infinite;
		animation: spin-right 34.4s linear infinite;
	}

	#home .jupiter {
		left: 50%;
		
		height: 7vh;
		width: 7vh;
		margin-top: -3.5vh;
		margin-left: -3.5vh;
	}

	#home .jupiterOrbit {
		width: 68.95vh;
		height: 68.95vh;
		margin-left: -34.48vh;
		margin-top: -34.48vh;
		border: 2px solid white;
		border-radius: 50%;
	   
		-webkit-animation: spin-right 217.2s linear infinite;
		-moz-animation: spin-right 217.2s linear infinite;
		animation: spin-right 217.2s linear infinite;
	}

	#home .saturn {
		left: 50%;
		
		height: 12.5vh;
		width: 12.5vh;
		margin-top: -6.25vh;
		margin-left: -6.25vh;
	}

	#home .saturnOrbit {
		width: 81.5vh;
		height: 81.5vh;
		margin-left: -40.75vh;
		margin-top: -40.75vh;
		border: 2px solid white;
		border-radius: 50%;
	   
		-webkit-animation: spin-right 483.7s linear infinite;
		-moz-animation: spin-right 483.7s linear infinite;
		animation: spin-right 483.7s linear infinite;
	}

	#home .uranus {
		left: 50%;
	  
		height: 2.5vh;
		width: 2.5vh;
		margin-top: -1.23vh;
		margin-left: -1.23vh;
	}

	#home .uranusOrbit {
		width: 102.67vh;
		height: 102.67vh;
		margin-left: -51.33vh;
		margin-top: -51.33vh;
		border: 2px solid white;
		border-radius: 50%;
	   
		-webkit-animation: spin-right 1533s linear infinite;
		-moz-animation: spin-right 1533s linear infinite;
		animation: spin-right 1533s linear infinite;
	}

	#home .neptune {
		left: 50%;
		
		height: 2.5vh;
		width: 2.5vh;
		margin-top: -1.23vh;
		margin-left: -1.23vh;
	}

	#home .neptuneOrbit {
		width: 117.5vh;
		height: 117.5vh;
		margin-left: -58.75vh;
		margin-top: -58.75vh;
		border: 2px solid white;
		border-radius: 50%;
	   
		-webkit-animation: spin-right 3012.8s linear infinite;
		-moz-animation: spin-right 3012.8s linear infinite;
		animation: spin-right 3012.8s linear infinite;
	}

	/*Rotating animation*/

	@-webkit-keyframes spin-right {
	  100% {
		  -webkit-transform: rotate(360deg);
	  }
	}

	@-moz-keyframes spin-right {
		100% {
			-webkit-transform: rotate(360deg);
		}
	}

/*#rockets - rockets.html*/
#rockets main {
	grid-area: main;
	grid-template-columns: 1fr 1fr;
	display: grid;
	grid-gap: 30px;
}
#rockets aside {
	grid-area: aside;
}
#rockets header {
	grid-area: header;
}

/*#galaxies - galaxies.html*/
#galaxies main {
	grid-area: main;
	grid-template-columns: 1fr 1fr;
	display: grid;
	grid-gap: 30px;
	margin-left: 100px;
}
#galaxies aside {
	grid-area: aside;
	margin-right: 100px;
	padding: 10px;
}
#galaxies img {
  width: 150%;
  height: auto;
  border: 2px solid white;
  margin-left: 120px;
  border-radius: 25px;
}
#galaxies p {
  color: white;
  text-align: center;
  font-family: Courier;
}
#galaxies h2 {
  color: white;
  text-align: center;
  font-family: Courier;
}
#galaxies .vintergatan{
	background-color: rgba(100,100,100,0.5);
	padding: 20px; 
	border: 2px solid white;
    border-radius: 25px;
}

/*#blackhole - blackhole.html*/
#blackhole h2 {
	text-align: center;
	font-size: 33px;
}
.svartHål{
	text-align: left;
}

.faktaSvartaHål{
	border-style: solid;
	border-width:5px;
	border-color: white;
}


.border{
	border-style: solid;
	border-width:5px;
	border-color: white;
	border-radius: 25px;
    background-color: rgba(100,100,100,0.5);
    }

.foto{
    margin:0 auto;
    width: 100%;
    border-style: solid;
    border-width:5px;
    border-color: white;
    border-radius: 25px;
    }

#blackhole main {
	grid-area: main;
	grid-template-columns: 1fr 1fr;
	display: grid;
	grid-gap: 30px;
	margin-left: 30px;
}
#blackhole aside {
	grid-area: aside;
	margin-right: 30px;
}

p{
	padding:10px;
}
